ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
//   text-align: center;
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
      display: block;

}

ion-label#comments {
  text-align: center;
  font-size: 8px;
  background: #f0ad4e;
  margin: 0px 0px 5px 10px;
    padding: 5px 5px 5px 5px;
}

ion-thumbnail#myPosts {
  width: 100%;
  height: 140px;
  padding: 5px 5px 0px 5px;
  margin: 5px 5px 0px 5px;
  display: block;
}

ion-icon#iconPad {
  margin: 0px 5px;
}

img {
  border-radius: 6px 6px 0px 0px;
}
div#timer {
  position: relative;
    top: 25px;
    left: 15px;
    color: white;
    font-size: 10px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.border{
  border: 1px solid #f0ad4e;
    border-radius: 30px;
    margin: 16px 25px 0 25px
}

.scrollable{
  overflow: auto;
  white-space: nowrap;
}

.scrollable .contaier{
  display: inline-block;
  width: 35%;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

